<!-- Simple Form for later use to add data to the database -->

<!-- Simple table as part of initial testing need change later on  -->
<div class="container">
  <!-- Display table if Authors exist -->
  <div *ngIf="authors && authors.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 155px">Author ID</th>
          <th style="width: 155px">Author Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of authors">
          <!-- {{i}} -->
          <td>{{ i.authorId }}</td>
          <td>{{ i.authorName }}</td>
          <button mat-button (click)="deleteData(i.authorId)">X</button>
        </tr>
      </tbody>
    </table>
    <button
      mat-raised-button
      [routerLink]="['/author/add']"
      style="color: rgb(255, 255, 255); background-color: rgb(255, 187, 0)"
    >
      Add Author
    </button>

    <div class="button">
      <button
        mat-raised-button
        style="color: rgb(255, 255, 255); background-color: rgb(6, 6, 6)"
        (click)="openDialog()"
      >
        Add author through dialog box
      </button>
    </div>
  </div>
  <!-- If NO Data Exist -->
  <p *ngIf="!authors || authors.length <= 0">NO Authors Found</p>
</div>
