
<!-- Simple Form for later use to add data to the database -->


<!-- Simple table as part of initial testing need change later on  -->
<div class="container">
  <!-- Display table if Authors exist -->
  <table class="table" *ngIf="authors && authors.length > 0">
    <thead>
      <tr>
        <th>Author Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of authors">
        {{i}}
        <td>{{i.authorName}}</td>
      </tr>
    </tbody>
  </table>
  <!-- If NO Data Exist -->
  <p *ngIf="!authors || authors.length <= 0 "> NO Authors Found</p>
</div>
