<form>
  <div class="parent">
    <div class="col">
      <div class="header">Add Author</div>
      <div>
        <mat-form-field appearance="fill" [style.width.em]="15" color="accent">
          <mat-label>Author Name</mat-label>
          <input
            matInput
            [(ngModel)]="authorName"
            name="title"
            placeholder="Author Name"
          />
        </mat-form-field>
      </div>

      <div class="button">
        <button
          mat-raised-button
          style="color: rgb(255, 255, 255); background-color: rgb(255, 187, 0)"
          (click)="create()"
        >
          ADD AUTHOR
        </button>


      </div>



    </div>
  </div>
</form>
