
<form (ngSubmit)="onSubmit()">
<div mat-dialog-content class="mat-typography">
  <h3>Add New Author</h3>
  <mat-form-field appearance="fill">
    <mat-label> Insert Author Name</mat-label>
    <input matInput [(ngModel)]="data.authorName" name="authorName" placeholder="Name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit">Add</button>
  <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
  <!-- <button mat-button (click)="onNoClick()"> Cancel </button> -->
  <!-- <button mat-button (click)="createD()" cdkFocusInitial>OK</button> -->
  <!-- <button mat-button (click)="onClick(who)" cdkFocusInitial>OK</button> -->
  <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button> -->
</div>
</form>
